<nav class="navbar navbar-expand-sm bg-dark">
    <!-- Links -->

    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" routerLink="/dashboard">employee </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/calendarView">schedule </a>
        </li>
    </ul>


</nav>
<div class="calendar-container">
    <p-calendar [(ngModel)]="dateValue" [inline]="true" (onSelect)="datePick()" dateFormat="dd.mm.yy"> </p-calendar>
</div>