<div class="contain">
    <nav class="navbar navbar-expand-sm bg-dark">

        <!-- Links -->

        <ul class="navbar-nav mr-auto">
            <h1>Add Employee</h1>
        </ul>


        <ul class="navbar-nav">
            <li class="nav-item">
                <button (click)="logout()">logout</button>
            </li>
        </ul>



    </nav>
    <div class="container">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="doj">Doj</label>
                <input type="date" formControlName="doj" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.doj.errors }" />
                <div *ngIf="submitted && f.doj.errors" class="invalid-feedback">
                    <div *ngIf="f.doj.errors.required">doj is required</div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">Add</button>

              
                <button (click)="cancel() ; registerForm.reset({})" class="btn btn-link">Cancel</button>
            </div>
        </form>
    </div>
</div>