<nav class="navbar navbar-expand-sm bg-dark">
    <!-- Links -->

    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" routerLink="/dashboard">employee </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/calendarView">schedule </a>
        </li>
    </ul>

    <ul class="navbar-nav">
        <li class="nav-item">
            <button (click)="logout()">logout</button>
        </li>
    </ul>
</nav>

<div>
    <div>
        <div>
            <h4>Employee Details</h4>
        </div>
        <div class="float-right">
            <button routerLink="/addemployee" routerLinkActive="active" class="btn btn-primary">
        add
      </button>
        </div>
    </div>
    <table class="table" *ngIf="activeTable">
        <thead>
            <tr>
                <th *ngFor="let head of headElements" scope="col">{{ head }}</th>
            </tr>
        </thead>
        <tbody>
            <tr mdbTableCol *ngFor="let el of empDetails; let i = index" [attr.data-index]="i">
                <th scope="row">{{ el.empID }}</th>
                <td>{{ el.firstName }}</td>
                <td>{{ el.lastName }}</td>
                <td>{{ el.doj }}</td>
                <td (click)="update(el, i)">
                    <a class="text-primary">
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
                <td (click)="delete(i, 'name')">
                    <a class="text-danger">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="container" *ngIf="!activeTable">
        <p>There is no Data availble in Employee details</p>
    </div>
</div>